:root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;

  background: #212121;
  color: #d5d5d5;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title {
  margin-top: 4rem;
  text-align: center;
}

#content {
  margin: 4rem auto;
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & > ul {
    /* margin: auto; */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > li {
      display: flex;
      flex-direction: column;
      text-align: justify;
      gap: 1rem;
      flex-wrap: nowrap;
    }
  }
}

a {
  margin-left: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: purple;
  font-weight: 600;
}

#disclame {
  margin-top: 1rem;
  text-align: center;
  background: purple;
  font-weight: 700;
  padding: 0.5rem;
}
